@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto+Slab:wght@500&display=swap');

body{
    background-color: #61666A;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h2, h4{
    padding: 5px;
}
p{
    padding: 5px;
    text-indent: 40px;
}
#nav ul{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
#nav li{
    font-family: 'Kdam Thmor Pro', sans-serif;
}
#nav a{
    display: block;
    padding: 10px;
    top: 0;
    position: relative;
}
.nav-Button{
    font-size: 1.2rem;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #8D9399;
    box-shadow: -2px 2px 2px #222222;
    color: lightgray;
    text-decoration: none;
    transition: background-color 0.15s, color 0.15s, margin 0.15s ease-in;
}
.nav-Button:hover{
    background-color: #C7D1D9;
    color: white;
    margin-left: 8px;
    margin-right: 8px;
}

#portfolioTitle{
    color: lightgray;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    margin: 30px;
}

#container{
    color: lightgray;
    width: 80%;
    display: block;
    margin: 0 auto;
}

.content{
    font-family: 'Roboto Slab', serif;
    border: 1px solid white;
    box-shadow: -2px 2px 2px black;
    background-color: rgb(97, 102, 106, 0.75);
    height: 50%;
    display: grid;
    grid-template-columns: 75% auto;
    padding: 10px;
    margin-bottom: 20px;
}

.images{
    width: 100%;
    background-color: white;
}